S3method(coef,FastSparse)
S3method(coef,FastSparseCV)
S3method(plot,FastSparse)
S3method(plot,FastSparseCV)
S3method(predict,FastSparse)
S3method(predict,FastSparseCV)
S3method(print,FastSparse)
S3method(print,FastSparseCV)
export(GenSynthetic)
export(GenSyntheticHighCorr)
export(FastSparse.cvfit)
export(FastSparse.fit)
import(Matrix)
import(ggplot2)
importFrom(MASS,mvrnorm)
importFrom(Rcpp,cppFunction)
importFrom(Rcpp,evalCpp)
importFrom(methods,as)
importFrom(methods,is)
importFrom(reshape2,melt)
importFrom(stats,rnorm)
useDynLib(FastSparse)